<h2 class="text-center">記録を編集する</h2>

<%= render 'form' %>

<div class="row">
  <div class="actions col-xs-12">
    <%= link_to '削除する', result_url, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-lg btn-block" %>
  </div>
</div>
