.btn-orange {
  background-color: #ea7b1f;
  color: #ffffff;
}

.btn-green {
  background-color: #9ec60a;
  color: #ffffff;
}

.switch-light.well {
  margin: 20px 0;
  height: 34px;

  span { line-height: 34px; }
}
