@font-face {
  font-family: mplus-2p-black;
  src: url('mplus-2p-black.ttf')
  format('truetype')
}

html,
body {
  @media screen and (max-width: 768px) {
    background-image: url('logo-bg-mobile.png');
  }
  background-image: url('logo-bg-pc.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #333;
  font-family: mplus-2p-black;
}

main {
  padding-top: 100px;
}

.footer {
  color: #ccc;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;

  bottom: 0;
  position: fixed;

  a { color: #ccc; }
}
