@font-face {
  font-family: mplus-2p-black;
  src: url('mplus-2p-black.ttf')
  format('truetype')
}

html,
body {
  @media screen and (max-width: 768px) {
    background-image: url('logo-bg-mobile.png');
  }
  background-image: url('logo-bg-pc.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: mplus-2p-black;
}

main {
  margin-top: 100px;
}
