/*
* CSS TOGGLE SWITCH
*
* Ionuț Colceriu - ghinda.net
* https://github.com/ghinda/css-toggle-switch
*
*/
/* Supported values are px, rem-calc, em-calc */
/* Functions */
/* Toggle Switches */
/* Shared */
/* Checkbox
*/
/* Radio Switch
*/
/* Hide by default
*/

.switch-toggle a,
.switch-light span span {
  display: none;
}

@media only screen {
  .switch-light {
    display: block;
    min-height: 1.875em;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 6.25em;
  }

  .switch-light * {
    box-sizing: border-box;
  }

  .switch-light a {
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .switch-light label,
  .switch-light > span {
    line-height: 1.875em;
    vertical-align: middle;
  }

  .switch-light input:focus ~ a,
  .switch-light input:focus + label {
    outline: 1px dotted #888;
  }

  .switch-light label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }

  .switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }

  .switch-light input:checked ~ a {
    right: 0%;
  }

  .switch-light > span {
    position: absolute;
    left: -6.25em;
    width: 100%;
    margin: 0;
    padding-right: 6.25em;
    text-align: left;
  }

  .switch-light > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 6.25em;
    text-align: center;
  }

  .switch-light > span span:last-child {
    left: 50%;
  }

  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0;
  }
}

@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
  .switch-light,
  .switch-toggle {
    -webkit-animation: webkitSiblingBugfix infinite 1s;
  }
}

@-webkit-keyframes webkitSiblingBugfix {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
